body {

	background-color: #202023;
	font-family: rubik;
}
a{
	text-decoration: none;
}
h1{
	color: white;
}
.desktop{
	margin: 0;
	padding: 0 10px;

}
.celular{
	padding: 0 120px;
	margin: 0px;
}

h1 {
	text-align: center; 
	font-size: 54px;
}

h4 {
	font-weight: bold;
    font-size: 30px;
    color: black;
}

.container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	max-width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
	
}

.card {
	left: 20px;
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;	
	width: 260px;
	height: 285px;
	background-color: rgb(87, 87, 87);
	cursor: pointer;
	
}

.cardGeracao {	
	list-style: none;
	padding: 0px;
	color: #222;
	border-radius: 40px;
	position: relative;	
	width: 100%;

}

.card::after {
  	content: "";
  	display: block;
 	width: 50%;
 	height: 45%;
 	border-radius: 100%;
 	background-color: #fff;
 	opacity: .7;
 	position: absolute;
	top: 15%;
 	left: 25%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
	top: 40px;
}

.card-subtitle {
	margin-top: 5px;
	color: rgb(0, 0, 0);
	font-weight: lighter;
	position: relative;
	z-index: 2;
	top: 40px;
}

.card-image {
	
	height: 110px;
	position: relative;
	z-index: 2;
	background-size: contain;
	top: 25px;
}

.Abelha {
	background-color: rgb(160, 247, 133);	
}
.Aguia {
	background-color: rgb(134, 203, 243);	
}
.Aranha {
	background-color: rgb(134, 203, 243);
}
.Arraia {
	background-color: rgb(160, 247, 133);		
}
.Baiacu {
	background-color: rgb(160, 247, 133);			
}
.Camaleao {
	background-color: rgb(160, 247, 133);		
}
.Canguru {
	background-color: rgb(160, 247, 133);			
}
.Cisne {
	background-color: rgb(160, 247, 133);		
}
.Cobra {
	background-color: rgb(134, 203, 243);
}
.Coruja {
	background-color: rgb(134, 203, 243);	
}
.Enguia {
	background-color: rgb(160, 247, 133);			
}
.Escorpiao {
	background-color: rgb(134, 203, 243);
}
.Formiga {
	background-color: rgb(134, 203, 243);
}
.Gamba {
	background-color: rgb(160, 247, 133);		
}
.Gorila {
	background-color: rgb(134, 203, 243);		
}
.Guepardo {
	background-color: rgb(134, 203, 243);	
}
.Jacare {
	background-color: rgb(160, 247, 133);			
}
.LeaoMarinho {
	background-color: rgb(160, 247, 133);	
}
.Lobo {
	background-color: rgb(134, 203, 243);
}
.LouvaDeus {
	background-color: rgb(160, 247, 133);	
}
.Macaco {
	background-color: rgb(134, 203, 243);	
}
.Morcego {
	background-color: rgb(134, 203, 243);	
}
.Morsa {
	background-color: rgb(134, 203, 243);
}
.Pantera {
	background-color: rgb(134, 203, 243);
}
.Pinguim {
	background-color: rgb(160, 247, 133);			
}
.PorcoEspinho {
	background-color: rgb(134, 203, 243);
}
.Rinoceronte {
	background-color: rgb(160, 247, 133);		
}
.Sapo {
	background-color: rgb(160, 247, 133);				
}
.Tartaruga {
	background-color: rgb(160, 247, 133);		
}
.Toupeira {
	background-color: rgb(134, 203, 243);	
}
.TubaraoMartelo {
	background-color: rgb(160, 247, 133);	
}
.Urso {
	background-color: rgb(134, 203, 243);
}
.Dragao {
	background-color: rgb(250, 112, 0);
}
.Kraken {
	background-color: rgb(250, 112, 0);
}
.Fenix {
	background-color: rgb(250, 112, 0);
}
.Hydra {
background-color: rgb(250, 112, 0);
}

@keyframes modal {
	from{
		opacity: 0;
		transform: translate(0, -60px, 0);
	}
	to{
		opacity: 1;
		transform: translate(0, 0, 0);
	}
}

.mostrar .modal {
	animation: modal 200ms;
}

.modal-containerP{
	overflow: scroll;
	width: 100%;
	height: 70vh;
	display: none;
	justify-content: center;
	align-items:center ;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;	

}

.modal-containerM{
	overflow: scroll;
	width: 100%;
	height: 130vh;
	display: none;
	justify-content: center;
	align-items:center ;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;	

}

.modal-containerG{
	overflow: scroll;
	width: 100%;
	height: 180vh;
	display: none;
	justify-content: center;
	align-items:center ;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;	

}
.modal-containerGG{
	overflow: scroll;
	width: 100%;
	height: 250vh;
	display: none;
	justify-content: center;
	align-items:center ;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;	

}
.modal{

	background-color: #FDF6E3;
	width: 90%;
	height: 90%;
	min-width: 400px;
	box-shadow: 0 0 0 10px;
	display: block;
	flex-wrap: wrap;
	justify-content: left;
	position: absolute;
}

.modal img{
	width: 150px;	
}
.modal-img{
	display: flex;
	width: 100%;
}
.modalpedra-img{
	display: flex;
	width: 100%;
}
.modalpedra-img img{
	width: 200px;
	top: 450px;
	right: 10px;
	position: absolute;
	
}

.modal-img img {
	width: 300px;
	top: 40px;
	right: 20px;
	position: absolute
}
.modal p {
	width: 70%;
	top: 0;
	padding:0 20px;
	z-index: 2000;
}
.modal h2 {
	top: 0;
	padding:0 20px;
}
.modal h3 {
	top: 0;
	padding:0 20px;
	font-size: 50px;
}

.fechar{
	position: absolute;
	font-size: 1.2em;
	top: -30px;
	right: -30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 4px solid rgb(0, 0, 0);
	color: black;
	background-color: red;
	cursor: pointer;

}
.modal-containerP.mostrar{

	display: flex;

}
.modal-containerM.mostrar{

	display: flex;

}
.modal-containerG.mostrar{

	display: flex;

}
.modal-containerGG.mostrar{

	display: flex;

}